/*     HEADER      */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-bottom: 4px solid #fff;
  overflow: visible;

  background:
    radial-gradient(circle, rgba(255, 255, 255, 0.25) 3px, transparent 4px) 5px
      10px / 42px 42px,
    radial-gradient(circle, rgba(255, 255, 255, 0.18) 2px, transparent 3px) 25px
      20px / 55px 55px,
    radial-gradient(circle, rgba(255, 255, 255, 0.12) 2px, transparent 3px) 15px
      35px / 48px 48px,
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 1.5px, transparent 2px)
      30px 5px / 60px 60px,
    linear-gradient(to top, #005ecb, #2f9bff);
}

.logo {
  width: 300px;
  transform: translateY(28px);
}